<link rel="stylesheet" href="/table.css">

<h2>Your SECRET</h2>

<table>
    <thead>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>
    </thead>
    <tbody>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.username %></td>
        </tr>
    </tbody>
</table>

<button>
    <a href="/">Home</a>
</button>